  body {
      margin: 0;
      overflow: hidden;
      background: #000;
      font-family: sans-serif;
    }

    canvas {
      display: block;
    }

    button {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffcc00;
      color: black;
      border: none;
      padding: 12px 25px;
      font-size: 1em;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      z-index: 2;
      box-shadow: 0 0 10px #ffcc00;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 15px #ffffff;
    }